<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Calcubaker</title>

    <!-- Bootstrap -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="calcubaker.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>



<body>

<div class="container" style="margin-top: 50px;">
    <div class="page-header">
        <h1>
            Calcubaker
            <small>v1.0</small>
        </h1>
    </div>

    <div id="app"></div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/1.5.3/numeral.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous">
</script>

<!-- Vue -->
<script src="https://unpkg.com/vue"></script>

<!-- Lodash -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"
        integrity="sha256-8E6QUcFg1KTnpEU8TFGhpTGHw5fJqB9vCms3OhAYLqw="
        crossorigin="anonymous">
</script>

<script type="text/x-template" id="app-template">
    <div class="row">
        <div class="col-xs-6">
            <h4><span class="glyphicon glyphicon-grain"></span> Ingredients</h4>
            <form class="form-horizontal">

                <ingredient v-for="(value, name) in selectedRecipe.ingredients"
                            :key="name"
                            :name="name"
                            :recipe-weight="value"
                            v-model="multiplier">
                </ingredient>

                <hr />

                <total :ingredients="selectedRecipe.ingredients" v-model="multiplier"></total>

            </form>
        </div>


        <div class="col-xs-6">
            <h4><span class="glyphicon glyphicon-hourglass"></span> Prove Time</h4>

            <form class="form-horizontal">
                <div class="form-group">
                    <label for="input-temp" class="col-sm-6 control-label">Temperature</label>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input type="number"
                                   id="input-temp"
                                   class="form-control"
                                   step="0.5"
                                   max="30"
                                   min="5"
                                   v-model="temperature" />
                            <span class="input-group-addon">&deg;C</span>
                        </div>
                    </div>
                </div>
            </form>

            <hr />

            <div class="row">
                <div class="col-sm-6">
                    <p><strong>Fold after:</strong></p>
                </div>
                <div class="col-sm-6"><p>{{ foldTime }}</p></div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <p><strong>Shape after:</strong></p>
                </div>
                <div class="col-sm-6"><p>{{ shapeTime }}</p></div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <p><strong>Bulk prove for:</strong></p>
                </div>
                <div class="col-sm-6"><p>{{ bulkTime }}</p></div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <p><strong>Mix-to-bake time:</strong></p>
                </div>
                <div class="col-sm-6"><p>{{ totalTime }}</p></div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <p><strong>If you start now, your dough will be ready to bake:</strong></p>
                </div>
                <div class="col-sm-6"><p>{{ bakeAt }}</p></div>
            </div>
        </div>
    </div>
</script>

<script type="text/x-template" id="ingredient-template">
    <div class="form-group">
        <label :for="inputId" class="col-sm-6 control-label">{{displayName}}</label>
        <div class="col-sm-6">
            <div class="input-group">
                <input type="number"
                       class="form-control"
                       :id="inputId"
                       v-bind:value="weight"
                       v-on:input="updateMultiplier($event.target.value)"/>
                <span class="input-group-addon">g</span>
            </div>
        </div>
    </div>
</script>

<script type="application/javascript" src="calcubaker.js"></script>

</body>

</html>